/*
 * Page General
 */
body
{
    background-color:#FFF;
}
/*
 * Page General
 */
 
/*
 * Tables & Lists
 */
table
{
    width:100%;
}
table, th, td
{
    border: 1px solid black;
    border-collapse: collapse;
}
th, td
{
    padding: 5px;
    text-align: left;
}
table.t01 th
{
    background-color: black;
    color: white;
    position: sticky;
    top: 0%;
}
table.t01 tr:nth-child(even)
{
    background-color: #EEE;
}
table.t01 tr:nth-child(odd)
{
    background-color: #FFF;
}
/*
 * Tables & Lists
 */

/*
 * Floats & Columns
 */
.columns-2 {
    -webkit-column-count:   2;
    -moz-column-count:      2;
    -ms-column-count:       2;
    column-count:           2;
    -webkit-column-width:   200px;
    -moz-column-width:      200px;
    -ms-column-width:       200px;
    column-width:           200px;
}
.columns-3 {
    -webkit-column-count:   3;
    -moz-column-count:      3;
    -ms-column-count:       3;
    column-count:           3;
    -webkit-column-width:   300px;
    -moz-column-width:      300px;
    -ms-column-width:       300px;
    column-width:           300px;
}
.columns-4 {
    -webkit-column-count:   4;
    -moz-column-count:      4;
    -ms-column-count:       4;
    column-count:           4;
    -webkit-column-width:   300px;
    -moz-column-width:      300px;
    -ms-column-width:       300px;
    column-width:           300px;
}
/*
 * Floats & Columns
 */

/*
 * Alignment & Spacing
 */
.center
{
    text-align: center;
}
.center-st
{
    text-align: center;
    padding-top: 150px;
}
.center-sb
{
    text-align: center;
    padding-bottom: 150px;
}
.center-stb
{
    text-align: center;
    padding-top: 150px;
    padding-bottom:150px;
}
